<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel = "stylesheet" href="static/css/meetadmin.css">
</head>
<body>
    <form method="post" name="form">
        <input type="text" name="good" value="good">
        <input type="submit" value="update" onclick="javascript: form.action='/bye';"/>
        <input type="submit" value="delete" onclick="javascript: form.action='/hello';"/>
    </form>

</body>
</html>