<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>
<body>
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">모임 생성하기</h5>
        <form method="post" action="/kakao2db">
             <div class="form-inline form-group" >
                <label for="search_name">주소</label>
                 <div class="col-sm-5">
                <input type="text" class="form-control" name="address" id="search_name"/>
                 </div>
                 <input type="button" class="btn btn-success" value="search" onclick="add_search()"/>
             </div>
            <div class="mb-3">
                <label for="title">제목</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" name="title" id="title">
                </div>
            </div>
            <div class="mb-3">
                <label for="topic">주제</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" name="topic" id="topic">
                </div>
            </div>
            <div class="mb-3">
                <label for="recruit_num">모집인원</label>
                <div class="col-sm-5">
                <input type="number" class="form-control" name="recruit_num" id="recruit_num">
                </div>
            </div>
            <div class="mb-3">
                <label for="contents">내용</label>
                <div class="col-sm-5">
                <input type="text" class="form-control" name="contents" id="contents">
                </div>
            </div>
            <div>
                <input type="hidden" name="lat" id="search_lat"> <!-- 입력된 주소에 해당하는 위도 -->
                <input type="hidden" name="lng" id="search_lng"> <!-- 입력된 주소에 해당하는 경도 -->
            </div>
                <button type="submit" class="btn btn-primary" id="submitBtn">전송</button>
        </form>
        <br>
        <div id="map" style="width:600px;height:400px;"></div>
    </div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8a73cfa5a833cba814b8937d2b54a0e&libraries=services"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(37.5826052,127.0101245), // 지도의 중심좌표
			level: 3    // 지도의 확대 레벨
		};
        //지도를 생성합니다.
		var map = new kakao.maps.Map(container, options);

        //주소-좌표 변환 객체를 생성합니다.
		var geocoder = new kakao.maps.services.Geocoder();

		//주소로 좌표를 검색합니다.
		function add_search(){
		    //입력된 주소값을 add_search변수에 저장한다.
		    var add_search = document.getElementById('search_name').value;
		    geocoder.addressSearch(add_search, function(result, status) {
                //정삭적으로 검색이 완료됐으면
                if(status == kakao.maps.services.Status.OK) {
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    //결과값으로 받은 위치를 마커로 표시합니다.
                    var marker = new kakao.maps.Marker({
                        map:map,
                        position:coords
                    });

                    // 위도, 경도 텍스트 필드에 좌표값을 입력한다.
                    document.getElementById('search_lat').value = result[0].y
                    document.getElementById('search_lng').value = result[0].x

                    // 지도의 중심을 마커의 위치로 이동한다.
                    map.setCenter(coords);
                }
		    });
		}
	</script>
</body>
</html>
